*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBox{
    width:100%;
    /* border : 1px solid black; */
    padding: 8px;   
    min-height: 100vh;
    background-image: linear-gradient(to left , #E0EAFC , #CFDEF3);
    
}
.topHEading{
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

.matchInfo{
    width: 100%;
    /* border: 1px solid red; */
}
.matchInfo h2{
    border-bottom: 1px solid grey;
    padding: 8px;
}

.matchInfo section{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;

}
.matchInfo section label{
    display: block;

}

.matchInfo section input{
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    font-size: large;
    background-color: transparent;
}

.matchInfo section div{
    width: 100%;
    /* border: 1px solid maroon; */
    padding: 8px;
}


.teamInfo{
    width: 100%;
    display: flex;
    
    }
.teamInfo h2{
    border-bottom: 1px solid grey;
    padding: 8px;
}
    
.teamInfo section{
    width: 50%;
    margin: 0 5px;

}
.teamInfo section div{
    padding: 8px;
    width: 100%;
}
.teamInfo section label{
    display: block;
}
.teamInfo section input{
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    font-size: large;
    background-color: transparent;
}


/* /statsMainBox// */

.statsMainBox{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* padding: 8px; */
    /* align-items: center; */
}

.batingStats{
    display: flex;
    width: 50%;
 
    flex-direction: column;
    margin: 0 5px;
    
}
.statsMainBox h2{
    border-bottom: 1px solid grey;
    padding: 8px;

}
.batingStatsBOx{
    display: flex;
    width: 100%;
    
}

.batingStatsBOx label{
    display: block;
}

.batOneBox , .battwoBox{
    width: 50%;
    /* padding: 8px; */
}
.batingStatsBOx div{
    width: 100%;
    padding: 8px;
}
.batingStatsBOx input{
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    font-size: large;
    background-color: transparent;
}

.bowlingStats{
  
    width: 50%;
    margin: 0 5px;
}

.updateBtn{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.updateBtn button{
    width: 50%;
    display: block;
    padding: 12px;
    background-image: linear-gradient(to left , #76b852 , #8DC26F);
    /* background-color: red; */
    border-radius:8px; 
    margin: 20px auto;
    border: none;
    font-weight: bold;
    cursor: pointer;    
    transition: all 0.8s ease;
}

.updateBtn button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80%;
}