*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formBox{
    width: 100%;
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.inputsFieldBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    justify-content: center;
}
.inputsFieldBox input{
    margin: 10px 0;
    padding: 12px ;
    outline: none;
}

.inputsFieldBox button{
    padding: 10px;
    background-color: green;
    color: white;
    outline: none;
    border: none;
}

/* ///new styling/// */
.mainBox{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    background-image: linear-gradient(to left , #E0EAFC , #CFDEF3);

}
.dashBoardForm{
    max-width: 780px;
    /* border: 1px solid red; */
    display: flex;
    border-radius: 10px;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    background-color: #F6F6F6;
}

.formImg{
    width: 50%;
}

.formImg img{
    width: 100%;
    height: 100%;
}
.dashForm{
    width: 50%;
    
    padding: 8px;
    background-color: #F6F6F6;
}
.dashForm>form>div{
    width: 100%;
    /* border: 1px solid maroon; */
    padding: 8px;
}

.dashForm>form>div label{
    display: block;
}

.dashForm>form>div input{
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    font-size: large;
    background-color: transparent;
}
.dashForm button{
    width: 100%;
    display: block;

    padding: 12px;
    background-image: linear-gradient(to left , #E0EAFC , #CFDEF3);
    background-color: transparent;
    border-radius: none; 
    margin: 20px auto;
    border: none;
    font-weight: bold;
    cursor: pointer;    
    transition: all 0.8s ease;
}

.dashForm .startBtn:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dashForm h3{
        color: red;
        padding: 10px;


    }