.formBox{
    width: 100%;
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.inputsFieldBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    justify-content: center;
}
.inputsFieldBox input{
    margin: 10px 0;
    padding: 12px ;
    outline: none;
}

.inputsFieldBox button{
    padding: 10px;
    background-color: green;
    color: white;
    outline: none;
    border: none;
}