.batingMainBox{
    width: 100%;
    border: 1px solid red;
}

.scorenBox{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.innerbOx{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.det{
    width: 100%;
    border-bottom: 2px solid lightgray;
    text-align: center;
}
.team1Box , .team2Box{
        /* width:ds 300px; */
}

.DetailsBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* .bowingBox{
        display: flex;
}

.batingBOx{
        display: flex;
} */

.heading{
    text-align: center;
}