*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.batingMainBox{
    width: 100%;
    border: 1px solid red;
}

.scorenBox{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.innerbOx{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.det{
    width: 100%;
    border-bottom: 2px solid lightgray;
    text-align: center;
}
.team1Box , .team2Box{
        /* width:ds 300px; */
}

.DetailsBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* .bowingBox{
        display: flex;
}

.batingBOx{
        display: flex;
} */

.heading{
    text-align: center;
}


    /* ////new /// */
.seriesHeading{
    text-align: center;
    background-image: linear-gradient(to left , #E0EAFC , #CFDEF3);
    padding: 12px;
}
.seriesHeading h1{
    font-family: cursive;
}
.seriesHeading h3{
    font-family: monospace;
}


/* ////score board start/// */
.mainBox{
    background-image: linear-gradient(to left , #E0EAFC , #CFDEF3);
    min-height: 100vh;
}

.appMainBox{
        /* border: 2px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;    
        /* background-color: #D8E2DC; */
        background-image: linear-gradient(to left , #E0EAFC , #CFDEF3);
    }
.tossHEading{
    text-align: center;
    display: block;
}
.scoreBox{
    /* border: 1px solid lime; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
    margin: 20px 0;
    /* background-color: white; */
    background-image: linear-gradient(to left , #ECE9E6 , #FFFFFF);

}
.liveBox{
    display: flex;
    /* border: 2px solid purple; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    
}
.teamScoreBox{
    /* border: 2px solid maroon; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 8px;

}

.teamScoreBox p{
    margin: 0;
    font-size: 22px;
    margin: 5px 0;
}
.teamScoreBox h5{
    margin: 0 !important;
    font-size: large;
    margin: 5px 0 !important;

}

.teamOneBox , .teamTwoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamOneBox img  , .teamTwoBox img{
    margin: 5px 0;
}

.versis h1{
    font-size:25px;
}
.winingLine{
    /* border: 1px solid red; */
    padding: 5px;
}
.winingLine marquee{
    color: red;
}

/* ////score board end/// */


.statsBox{
    width: 100%;
    /* border: 2px solid purple; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(to left , #E0EAFC , #CFDEF3);
        
    
}

.batingStats , .bowlingStats{
    padding: 10px;
    /* border:1px solid black ; */
    width: 30%;
    border-radius: 15px;
    background-image: linear-gradient(to left , #ECE9E6 , #FFFFFF);
    
}

.batingStats h2 , .bowlingStats h2{
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
}
.batingStats>div , .bowlingStats>div{
    padding: 5px 10px;

}


@media only screen and (max-width:768px){
    .scoreBox{
        width: 80%;
    }

    .batingStats , .bowlingStats{
        width: 40%;
    }

}

@media only screen and (max-width:558px){
    
    
    .statsBox{
        flex-wrap: wrap;
    }
    .batingStats , .bowlingStats{
        width: 80%;
            margin: 10px 0;
      }

}

@media only screen and (max-width:430px){
    .scoreBox{
        width: 100%;
    }



}
